<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Links -->

    <!-- Icons -->
    <!-- <link
      rel="shortcut icon"
      href="src/assets/img/favicon-32x32.png"
      type="image/x-icon" /> -->
    <link rel="shortcut icon" href="../assets/img/favicon-white32x32.png" type="image/x-icon" />

    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/styleLanguage.css" />
    <link rel="stylesheet" href="../assets/css/styleEmployees.css" />
    <link rel="stylesheet" href="../assets/css/styleProjects.css" />

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />

    <!-- Title -->
    <title>Projeto #10</title>
  </head>
  <body>
    <!-- Tools and Languages Section -->
    <section id="tool-languages">
      <div class="tittle">
        <h2>Ferramentas e Linguagens</h2>
      </div>
      <!-- Top icons -->
      <div class="icons">
        <div class="icon-sass">
          <img src="../assets/img/Sass.svg" alt="Ícone Sass" width="100%" />
          <p>Sass</p>
        </div>
        <div class="icon-css">
          <img src="../assets/img/css.svg" alt="Ícone Css" width="100%" />
          <p>Css</p>
        </div>
        <div class="icon-js">
          <img
            src="../assets/img/javascript.svg"
            alt="Ícone Javascript"
            width="100%" />
          <p>Javascript</p>
        </div>
        <div class="icon-python">
          <img
            src="../assets/img/python.svg"
            alt="Ícone Python"
            width="100%" />
          <p>Python</p>
        </div>
        <div class="kotlin">
          <img
            src="../assets/img/kotlin.svg"
            alt="Ícone Kotlin"
            width="100%" />
          <p>Kotlin</p>
        </div>
      </div>
      <!-- Bottom icons -->
      <div class="icons">
        <div class="icon-figma">
          <img
            src="../assets/img/figma.svg"
            alt="Ícone Figma"
            width="100%" />
          <p>Figma</p>
        </div>
        <div class="icon-git">
          <img src="../assets/img/git.svg" alt="Ícone Git" width="100%" />
          <p>Git</p>
        </div>
        <div class="icon-mysql">
          <img
            src="../assets/img/mysql.svg"
            alt="Ícone MySQL"
            width="100%" />
          <p>MySQL</p>
        </div>
        <div class="icon-react">
          <img
            src="../assets/img/react.svg"
            alt="Ícone React"
            width="100%" />
          <p>React Native</p>
        </div>
        <div class="icon-java">
          <img src="../assets/img/java.svg" alt="Ícone Java" width="100%" />
          <p>Java</p>
        </div>
      </div>
    </section>

    <!-- Section Projects -->
    <section class="search-projects">
      <h1>Projetos</h1>
      <div class="search-button-container">
        <div class="search-button-container">
          <div class="search-wrapper">
            <input
              type="text"
              placeholder="Pesquisa a linguagem"
              class="search-input" />
            <svg
              class="search-icon"
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0 0 30 30">
              <path
                d="M 13 3 C 7.4889971 3 3 7.4889971 3 13 C 3 18.511003 7.4889971 23 13 23 C 15.396508 23 17.597385 22.148986 19.322266 20.736328 L 25.292969 26.707031 A 1.0001 1.0001 0 1 0 26.707031 25.292969 L 20.736328 19.322266 C 22.148986 17.597385 23 15.396508 23 13 C 23 7.4889971 18.511003 3 13 3 z M 13 5 C 17.430123 5 21 8.5698774 21 13 C 21 17.430123 17.430123 21 13 21 C 8.5698774 21 5 17.430123 5 13 C 5 8.5698774 8.5698774 5 13 5 z"></path>
            </svg>
          </div>
        </div>
      </div>
      <div class="projects">
        <div class="project1">
          <div class="project-image">
            <img
              id="imageone"
              class="image1"
              src="../assets/img/img.png"
              alt="Imagem do projeto" />
          </div>
          <div class="project-description">
            <h2 class="project-title">Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              lobortis, nunc ac scelerisque suscipit, arcu risus iaculis velit,
              id convallis neque velit vel felis. Nullam consectetur, lectus a
              facilisis laoreet, metus nunc gravida neque, vitae ultricies
              mauris risus ac justo.
            </p>
            <div id="languageone" class="languages">
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000"
                alt="html" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000"
                alt="css" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000"
                alt="js" />
            </div>
          </div>
        </div>
        <div class="project2">
          <div class="project-image">
            <img
              id="imagetwo"
              class="image1"
              src="../assets/img/img.png"
              alt="Imagem do projeto" />
          </div>
          <div class="project-description">
            <h2 class="project-title">Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              lobortis, nunc ac scelerisque suscipit, arcu risus iaculis velit,
              id convallis neque velit vel felis. Nullam consectetur, lectus a
              facilisis laoreet, metus nunc gravida neque, vitae ultricies
              mauris risus ac justo.
            </p>
            <div class="languages">
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000"
                alt="html" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000"
                alt="css" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000"
                alt="js" />
            </div>
          </div>
        </div>
        <div class="project3">
          <div class="project-image">
            <img class="image1" src="../assets/img/img.png" alt="Imagem do projeto" />
          </div>
          <div class="project-description">
            <h2 class="project-title">Project Title</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed
              lobortis, nunc ac scelerisque suscipit, arcu risus iaculis velit,
              id convallis neque velit vel felis. Nullam consectetur, lectus a
              facilisis laoreet, metus nunc gravida neque, vitae ultricies
              mauris risus ac justo.
            </p>
            <div class="languages">
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=20909&format=png&color=000000"
                alt="html" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=7gdY5qNXaKC0&format=png&color=000000"
                alt="css" />
              <img
                class="language-image"
                src="https://img.icons8.com/?size=100&id=PXTY4q2Sq2lG&format=png&color=000000"
                alt="js" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section Employees -->
    <section class="container-Colaboradores">
      <h1 class="title-colaboradores">Colaboradores</h1>
      <div class="carrossel-colaboradores" id="carrossel">
        <div class="card-colaboradores">
          <img
            src="../assets/img/Foto-Perfil.png"
            draggable="false"
            alt="Foto de perfil do integrante"
            class="foto-colocaboradores" />
          <h1>Alice Freitas</h1>
          <p class="text-colaboradores">
            I found your resources and tutorials incredibly helpful in enhancing
            my understanding of user experience. The clean and intuitive layout
            of your website made Thank you.
          </p>
          <div>
            <img
              src="../assets/img/Github.svg"
              draggable="false"
              alt="Icone do Github" />
            <img
              src=".assets/img/Linkedin.svg"
              draggable="false"
              alt="Icone do Linkedin" />
          </div>
        </div>
        <div class="card-colaboradores">
          <img
            src="../assets/img/Foto-Perfil.png"
            draggable="false"
            alt="Foto de perfil do integrante"
            class="foto-colocaboradores" />
          <h1>Alice Freitas</h1>
          <p class="text-colaboradores">
            I found your resources and tutorials incredibly helpful in enhancing
            my understanding of user experience. The clean and intuitive layout
            of your website made Thank you.
          </p>
          <div>
            <img
              src="../assets/img/Github.svg"
              draggable="false"
              alt="Icone do Github" />
            <img
              src="../assets/img/Linkedin.svg"
              draggable="false"
              alt="Icone do Linkedin" />
          </div>
        </div>
        <div class="card-colaboradores">
          <img
            src="../assets/img/Foto-Perfil.png"
            draggable="false"
            alt="Foto de perfil do integrante"
            class="foto-colocaboradores" />
          <h1>Alice Freitas</h1>
          <p class="text-colaboradores">
            I found your resources and tutorials incredibly helpful in enhancing
            my understanding of user experience. The clean and intuitive layout
            of your website made Thank you.
          </p>
          <div>
            <img
              src="../assets/img/Github.svg"
              draggable="false"
              alt="Icone do Github" />
            <img
              src="../assets/img/Linkedin.svg"
              draggable="false"
              alt="Icone do Linkedin" />
          </div>
        </div>
      </div>
    </section>
    <div class="container-Icons">
      <img src="../assets/img/Github56px.svg" alt="Icone do Github" />
      <img src="../assets/img/Instagram.svg" alt="Icone do Instagram" />
    </div>
    <footer>
      <div class="footer-logo">
        <img src="../assets/img/Logo.svg" alt="Logo do rodapé Projeto #10" />
      </div>
      <div class="container-text-footer">
        <p>
          Copyright todos os direitos reservados a <strong>Projeto #10</strong>
        </p>
        <p><strong>2024</strong></p>
      </div>
    </footer>

    <!-- Scripts -->
    <script type="module" src="../assets/js/Employees.js"></script>
  </body>
</html>
