<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Html de teste</title>
</head>
<body>
<h1>Página Teste (Funcionando)</h1>
<p>Listagem de todos os projetos com base</p>
<div th:each="project : ${projects}" class="project">
    <h2> Titulo do Projeto: </h2>
    <h2 th:text="${project.titulo}">Título do Projeto</h2>
    <h2> Descrição: </h2>
    <p th:text="${project.descricao}">Descrição do projeto</p>
    <p>
    <h2> Tecnologias usadas: </h2>
        <strong>Tecnologias:</strong>
        <span th:text="${project.tecnologias}">Tecnologias do projeto</span>
    </p>
</div>
</body>
</html>